// responsive max viewport sizes
$mvp-xsmall: 400px;
$mvp-small: 640px;
$mvp-medium: 768px;
$mvp-large: 1024px;
$mvp-xlarge: 1280px;
$mvp-xxlarge: 1536px;

//colors
$color-primary: #f49d2f;
$color-secondary: #4a9dca;
$color-header: #1f2937;